RewriteEngine on
RewriteRule ^([a-zA-Z0-9\-\_\/]*)$ index.php?p=$1
#RewriteRule ^$ index [L]

#RewriteRule ^css/$ index [L]
#RewriteRule ^assets/$ index.php [L]
#RewriteRule ^controllers/$ index.php [L]
#RewriteRule ^core/$ index.php [L]
#RewriteRule ^fonts/$ index.php [L]
#RewriteRule ^html/$ index.php [L]
#RewriteRule ^js/$ index.php [L]
#RewriteRule ^img/$ index.php [L]
