RewriteEngine on
RewriteRule ^([a-zA-Z0-9\-\_\/]*)$ index.php?p=$1
#RewriteRule ^$ index [L]

#RewriteRule ^css/$ index [L]
#RewriteRule ^assets/$ auth.php [L]
#RewriteRule ^controllers/$ auth.php [L]
#RewriteRule ^core/$ auth.php [L]
#RewriteRule ^fonts/$ auth.php [L]
#RewriteRule ^html/$ auth.php [L]
#RewriteRule ^js/$ auth.php [L]
#RewriteRule ^img/$ auth.php [L]
